In [67]:
#######
# GCP 결과 알림(telegram)
###
import pandas as pd
from datetime import datetime, timedelta
import requests
from google.cloud import bigquery


def message_send(t2):
    #발송 대상자
    chat_id = ("**********")  # 특정인원의 키 값  
    # DB 접속
    client = bigquery.Client()

    # query 실행(or 자료 추출)
    QUERY = (
        'SELECT name FROM `bigquery-public-data.usa_names.usa_1910_2013` '
        'WHERE state = "TX" '
        'LIMIT 100')
    query_job = client.query(QUERY)  # API request
    rows = query_job.result()  # Waits for query to finish
    print(rows)


    #발송내용 정리
    s_dt = (datetime.today()- timedelta(1)).strftime('%m/%d')
    chat_text = "CJ 쿠폰 사용 겟수 : {} 개 (기준일: {}) ".format(int(df_copuon_use.values), s_dt )

    # telegram 고유 ID :telegram bot ID 
    API_TOKEN = '**********:***************************************'  

    # 텔레그램 발송 API 실행(대상자 전제 발송)
    for chat_id in chat_id:
        url = "https://api.telegram.org/bot%s/sendMessage?chat_id=%s&text=%s" % (API_TOKEN, chat_id,  chat_text)
        requests.get(url)      #텔레그램 발송

In [61]:
#######
# GCP 결과 알림(telegram) : local test
###

import pandas as pd
from datetime import datetime, timedelta
import requests
from google.cloud import bigquery

# local test
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="./vision *****************.json"

client = bigquery.Client()

# query 실행(or 자료 추출)
QUERY = ("SELECT category, max(FORMAT_DATETIME('%Y-%m-%d', DATE)) as reg_dtm, count(*) " + 
         'FROM `thermal-***********..online_price.price_ssg` ' + 
         'where DATE between sysdate and sysdate-1'
         'group by category ')
query_job = client.query(QUERY)  # API request
rows = query_job.result()  # Waits for query to finish

BadRequest: 400 Syntax error: Missing whitespace between literal and alias at [1:168]

(job ID: c69757f3-5e73-452e-9ac7-4d671106d187)

                                                                               -----Query Job SQL Follows-----

    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |
   1:SELECT category, max(FORMAT_DATETIME('%Y-%m-%d', DATE)) as reg_dtm, count(*) FROM `thermal-rain-234004.online_price.price_ssg` where DATE between sysdate and sysdate-1group by category
    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |

In [38]:
for row in query_job:
    # Row values can be accessed by field name or index.
    print("name={}, count={}, {}".format(row[0], row[1], row[2]))

name=치즈, count=2020-05-26, 4000
name=멸균우유, count=2020-05-27, 4002
name=주스, count=2020-05-27, 1280
name=두유, count=2020-05-27, 3760
name=분유, count=2020-05-27, 3479

In [60]:
row[0], row['reg_dtm'] , row[2]

('분유', '2020-05-27', 3479)

In [58]:
rows

In [2]:
# Appendix. 텔레그램 대상자 확인

import requests

API_TOKEN = '**********************************'
url_check = "https://api.telegram.org/bot%s/getUpdates" % API_TOKEN
# url_check
print(requests.get(url_check).text)

{"ok":true,"result":[{"update_id":264729513,
"message":{"message_id":1379,"from":{"id":826340134,"is_bot":false,"first_name":"\uacbd\ud558","last_name":"\ubc15","language_code":"ko"},"chat":{"id":826340134,"first_name":"\uacbd\ud558","last_name":"\ubc15","type":"private"},"date":1601256734,"text":"\u3147\u3147"}}]}

In [49]:
# 추출된 자료
df_copuon_use

   COUNT
0     12

In [7]:
import pandas as pd
from datetime import datetime, timedelta
import requests

s_dt = (datetime.today()- timedelta(0)).strftime('%m/%d, %H:%M')

In [8]:
s_dt

'09/03, 10:57'

In [14]:
str(round(int(17)/300*100,1)) + '%'

'5.7%'

In [15]:
print('{}'.format( round(int(17)/300*100,1)))

5.7