+ 1.BigQuery에 테이블 생성
+ 2.Excel 자료(DataFrame) 불러오기
+ 3.BigQuery에 Excel자료(DataFrame) 저장하기

In [3]:
import os
from google.cloud import bigquery

import pandas as pd
from datetime import datetime, timedelta
import numpy as np
from tqdm import trange

os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="./boxwood-**************.json"

client = bigquery.Client()

### 1.BigQuery에 테이블 생성

In [5]:
# 1.생산현황
project_name = 'boxwood-**************'
dataset_name = 'SAP_BW'
table_name = 'ZPB_PP_Q001'

table_id = project_name + '.' + dataset_name + '.' + table_name

schema = [
    bigquery.SchemaField("EIS_1LV",         "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("EIS_2LV",         "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("EIS_3LV",         "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("SKU_CODE",        "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("SKU_NAME",        "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("DATE",            "TIMESTAMP",mode="REQUIRED"),
    bigquery.SchemaField("PLANT_CODE",      "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("PLANT_NAME",      "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("PRODUCE_CNT_PALN","FLOAT",    mode="REQUIRED"),
    bigquery.SchemaField("PRODUCE_VOL_PALN","FLOAT",    mode="REQUIRED"),
    bigquery.SchemaField("PRODUCE_CNT",     "FLOAT",    mode="REQUIRED"),
    bigquery.SchemaField("PRODUCE_VOL",     "FLOAT",    mode="REQUIRED"),
]

table = bigquery.Table(table_id, schema=schema)
table = client.create_table(table)  # API request
print(
    "Created table {}.{}.{}".format(table.project, table.dataset_id, table.table_id)
)

Created table boxwood-chassis-356100.SAP_BW.ZPB_PP_Q001

In [ ]:
# 3.일별 수주현황(계획대비실적)
project_name = 'boxwood-**************'
dataset_name = 'SAP_BW'
table_name = 'ZPB_SD_Q013'

table_id = project_name + '.' + dataset_name + '.' + table_name

schema = [
    bigquery.SchemaField("EIS_1LV",         "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("EIS_2LV",         "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("EIS_3LV",         "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("SKU_CODE",        "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("SKU_NAME",        "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("TEAM_3LV",        "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("TEAM_NAME",       "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("DATE",            "TIMESTAMP",mode="REQUIRED"),
    bigquery.SchemaField("SELLER_1LV",      "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("SELLER_3LV",      "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("ORDER_CNT_PLAN",  "FLOAT",    mode="REQUIRED"),
    bigquery.SchemaField("ORDER_CNT",       "FLOAT",    mode="REQUIRED"),
    bigquery.SchemaField("ORDER_VOL_PLAN",  "FLOAT",    mode="REQUIRED"),
    bigquery.SchemaField("ORDER_VOL",       "FLOAT",    mode="REQUIRED"),
    bigquery.SchemaField("ORDER_AMT_PLAN",  "FLOAT",    mode="REQUIRED"),
    bigquery.SchemaField("ORDER_AMT",       "FLOAT",    mode="REQUIRED"),
]

table = bigquery.Table(table_id, schema=schema)
table = client.create_table(table)  # API request
print(
    "Created table {}.{}.{}".format(table.project, table.dataset_id, table.table_id)
)

In [ ]:
# 3.일별 수주현황(계획대비실적)
project_name = 'boxwood-**************'
dataset_name = 'SAP_BW'
table_name = 'ZPB_SD_Q013'

table_id = project_name + '.' + dataset_name + '.' + table_name

schema = [
    bigquery.SchemaField("EIS_1LV",         "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("EIS_2LV",         "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("EIS_3LV",         "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("SKU_CODE",        "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("SKU_NAME",        "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("TEAM_3LV",        "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("TEAM_NAME",       "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("DATE",            "TIMESTAMP",mode="REQUIRED"),
    bigquery.SchemaField("SELLER_1LV",      "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("SELLER_3LV",      "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("ORDER_CNT_PLAN",  "FLOAT",    mode="REQUIRED"),
    bigquery.SchemaField("ORDER_CNT",       "FLOAT",    mode="REQUIRED"),
    bigquery.SchemaField("ORDER_VOL_PLAN",  "FLOAT",    mode="REQUIRED"),
    bigquery.SchemaField("ORDER_VOL",       "FLOAT",    mode="REQUIRED"),
    bigquery.SchemaField("ORDER_AMT_PLAN",  "FLOAT",    mode="REQUIRED"),
    bigquery.SchemaField("ORDER_AMT",       "FLOAT",    mode="REQUIRED"),
]

table = bigquery.Table(table_id, schema=schema)
table = client.create_table(table)  # API request
print(
    "Created table {}.{}.{}".format(table.project, table.dataset_id, table.table_id)
)

In [4]:
# 1.생산현황
import pandas_gbq

In [34]:
df_temp = pd.read_excel('./20230216_data.xlsx', sheet_name=0)

In [35]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154 entries, 0 to 153
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   itmNm        154 non-null    object
 1   prdDe        154 non-null    datetime64[ns]
 2   prdSe        154 non-null    object
 3   statJipyoId  154 non-null    int64
 4   statJipyoNm  154 non-null    object
 5   val          154 non-null    int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 7.3+ KB

In [27]:
# df_temp['statJipyoId'] = df_temp['statJipyoId'].astype(object)
# df_temp['val'] = df_temp['val'].astype(float)

In [32]:
# 3.일별 수주현황(계획대비실적)
project_name = 'boxwood-**************'
dataset_name = 'openAPI'
table_name = 'kosis_Birthrate'

table_id = project_name + '.' + dataset_name + '.' + table_name

schema = [
    bigquery.SchemaField("itmNm",         "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("prdDe",         "TIMESTAMP",mode="REQUIRED"),
    bigquery.SchemaField("prdSe",         "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("statJipyoId",   "INTEGER",  mode="REQUIRED"),
    bigquery.SchemaField("statJipyoNm",   "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("val",           "INTEGER",  mode="REQUIRED"),
]

table = bigquery.Table(table_id, schema=schema)
table = client.create_table(table)  # API request
print(
    "Created table {}.{}.{}".format(table.project, table.dataset_id, table.table_id)
)

Created table boxwood-chassis-356100.openAPI.kosis_Birthrate

In [33]:
client = bigquery.Client()
project = 'boxwood-**************'
dataset_id = 'openAPI'
table_id = 'kosis_Birthrate'
table_name = dataset_id +'.' +table_id

In [36]:
pandas_gbq.to_gbq(df_temp, table_name, project_id=project, if_exists = 'append' )

100%|████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<?, ?it/s]

In [31]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154 entries, 0 to 153
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   itmNm        154 non-null    object
 1   prdDe        154 non-null    datetime64[ns]
 2   prdSe        154 non-null    object
 3   statJipyoId  154 non-null    int64
 4   statJipyoNm  154 non-null    object
 5   val          154 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 7.3+ KB