In [1]:
import pandas as pd
from os import listdir
from datetime import datetime, timedelta

In [2]:
##########
# 자료 불러오기
#####

# 경로 설정
directory_name = "./rawdata_망고플레이트"

# 파일명 가져오기
file_names = listdir(directory_name)

# 불필요한 파일 삭제
# file_names.remove('자료확보 기준.JPG')
print('Merge 대상 파일 : {}개'.format(len(file_names)))

Merge 대상 파일 : 14개

In [4]:
data = pd.DataFrame()

# 전체 자료 불러오기 & 병합
for open_file in file_names:
    df_temp = pd.read_excel(directory_name +'/'+ open_file,'Sheet1')
    data = pd.concat([data, df_temp], ignore_index=True)

In [33]:
data.tail(2)

,Unnamed: 0,주문매장,채널,주문일자,주문자명,주문메뉴,점수,리뷰
465,2,폴바셋 현대모터스튜디오서울점,배달의민족,작년,덤보맘,카페라떼룽고,5,폴바셋 라떼가 제일 맛있어요
466,3,폴바셋 현대모터스튜디오서울점,배달의민족,작년,doy.****,카페라떼,5,세심하고 완벽한 서비스에 감동합니다!! 최고에욤!!

In [34]:
# 불필요한 column 제거
data = data[list(data.columns)[1:]]

In [35]:
data.tail(2)

,주문매장,채널,주문일자,주문자명,주문메뉴,점수,리뷰
465,폴바셋 현대모터스튜디오서울점,배달의민족,작년,덤보맘,카페라떼룽고,5,폴바셋 라떼가 제일 맛있어요
466,폴바셋 현대모터스튜디오서울점,배달의민족,작년,doy.****,카페라떼,5,세심하고 완벽한 서비스에 감동합니다!! 최고에욤!!

In [5]:
##########
# 자료저장(DataFrame to Excel)
#####

s_dt1= (datetime.today()- timedelta(0)).strftime('%Y%m%d')

name = s_dt1+ '_망고플레이트_review_data.xlsx'
writer = pd.ExcelWriter(name)
data.to_excel(writer, 'Sheet1')
writer.save()