**Index**
+ [x] version 0 : basic
+ [x] version 1 : Query text
+ [x] version 2 : Load Query text

### version 0

In [ ]:
# version 0
import cx_Oracle as oci
import pandas as pd

## DB 접속
conn = oci.connect('__ID__/__PW__@0.0.0.0:8080/__SID__')

## query 실행( =자료 추출)
df_sso = pd.read_sql("select substr(fst_acc_sst_cd,1,4) as acc_1st, "+
                     "(case when length(acc_sst_cd) =4 then acc_sst_cd else substr(acc_sst_cd,6,4) end ) as acc_2nd "+
                     "from jsso_sst_acc_hist " 
                      , con = conn)
conn.close()

### version 1

In [2]:
# version 1
import cx_Oracle as oci
import pandas as pd

# 접속정보
con_text = open("C:/conn_info.txt", 'r', encoding='utf8')
con_text = con_text.read()

# DB 접속
conn = oci.connect(con_text)

## query 실행( =자료 추출)
df_sso_date = pd.read_sql("select min(fst_lin_dt) as start_dt, max(fst_lin_dt) as end_dt from jsso_sst_acc_hist  " 
                      , con = conn)

df_sso = pd.read_sql("select substr(fst_acc_sst_cd,1,4) as acc_1st, "+
                     "(case when length(acc_sst_cd) =4 then acc_sst_cd else substr(acc_sst_cd,6,4) end ) as acc_2nd, "+
                     " 1 as CNT " +
                     "from jsso_sst_acc_hist " 
                      , con = conn)

# close는 넣지 않아도 됨
# conn.close()

In [4]:
df_sso_date

             START_DT              END_DT
0 2020-06-15 23:50:53 2020-07-16 13:47:10

In [3]:
df_sso.tail(2)

       ACC_1ST ACC_2ND  CNT
418495    7020    7020    1
418496    7000    7017    1

### version 2

In [5]:
# version 2 : test1

import cx_Oracle as oci
import pandas as pd

# 접속정보
con_text = open("C:/Users/MAEIL/conn_info_MMBSHIP.txt", 'r', encoding='utf8')
con_text = con_text.read()

# DB 접속
conn = oci.connect(con_text)

# query 열기
f = open("C:/Users/MAEIL/query_coupon.txt", 'r')
line = f.read()
f.close()

## query 실행( =자료 추출)
df = pd.read_sql(line, con = conn)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   쿠폰코드      144 non-null    object
 1   관계사       144 non-null    object
 2   쿠폰유형      144 non-null    object
 3   쿠폰이름      144 non-null    object
 4   시작일자      144 non-null    object
 5   종료일자      144 non-null    object
 6   진행여부      144 non-null    object
 7   발급인원(명)   144 non-null    int64
 8   사용인원(명)   128 non-null    float64
 9   사용율(%)    128 non-null    float64
 10  총결제금액(원)  128 non-null    float64
 11  할인금액(원)   128 non-null    float64
 12  최종사용일     128 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 14.8+ KB