In [3]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf
import os
import sys

import pandas as pd

In [2]:
# os.environ['PYSPARK_PYTHON'] = sys.executable
# os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [34]:
# 환경 세팅
# conf_spark = SparkConf().set("spark.driver.host", "127.0.0.1") # local 환경임을 명시적으로 지정해준다. 
# sc = SparkContext(conf=conf_spark)

In [5]:
spark = SparkSession.builder.master("local[1]").appName("kidney_disease").getOrCreate()

### local data read

In [6]:
data = spark.read.option("header", True).csv("./kidney_disease.csv") # header가 있는 경우, option 구문 추가

In [32]:
data.show()

+---+----+-----+-----+----+----+--------+--------+----------+----------+-----+-----+----+-----+----+----+----+-----+----+---+---+---+-----+---+---+--------------+
| id| age|   bp|   sg|  al|  su|     rbc|      pc|       pcc|        ba|  bgr|   bu|  sc|  sod| pot|hemo| pcv|   wc|  rc|htn| dm|cad|appet| pe|ane|classification|
+---+----+-----+-----+----+----+--------+--------+----------+----------+-----+-----+----+-----+----+----+----+-----+----+---+---+---+-----+---+---+--------------+
|  0|48.0| 80.0| 1.02| 1.0| 0.0|    null|  normal|notpresent|notpresent|121.0| 36.0| 1.2| null|null|15.4|  44| 7800| 5.2|yes|yes| no| good| no| no|           ckd|
|  1| 7.0| 50.0| 1.02| 4.0| 0.0|    null|  normal|notpresent|notpresent| null| 18.0| 0.8| null|null|11.3|  38| 6000|null| no| no| no| good| no| no|           ckd|
|  2|62.0| 80.0| 1.01| 2.0| 3.0|  normal|  normal|notpresent|notpresent|423.0| 53.0| 1.8| null|null| 9.6|  31| 7500|null| no|yes| no| poor| no|yes|           ckd|
|  3|48.0| 70.0|1.005| 4.0| 0.0|  normal|abnormal|   present|notpresent|117.0| 56.0| 3.8|111.0| 2.5|11.2|  32| 6700| 3.9|yes| no| no| poor|yes|yes|           ckd|
|  4|51.0| 80.0| 1.01| 2.0| 0.0|  normal|  normal|notpresent|notpresent|106.0| 26.0| 1.4| null|null|11.6|  35| 7300| 4.6| no| no| no| good| no| no|           ckd|
|  5|60.0| 90.0|1.015| 3.0| 0.0|    null|    null|notpresent|notpresent| 74.0| 25.0| 1.1|142.0| 3.2|12.2|  39| 7800| 4.4|yes|yes| no| good|yes| no|           ckd|
|  6|68.0| 70.0| 1.01| 0.0| 0.0|    null|  normal|notpresent|notpresent|100.0| 54.0|24.0|104.0| 4.0|12.4|  36| null|null| no| no| no| good| no| no|           ckd|
|  7|24.0| null|1.015| 2.0| 4.0|  normal|abnormal|notpresent|notpresent|410.0| 31.0| 1.1| null|null|12.4|  44| 6900|   5| no|yes| no| good|yes| no|           ckd|
|  8|52.0|100.0|1.015| 3.0| 0.0|  normal|abnormal|   present|notpresent|138.0| 60.0| 1.9| null|null|10.8|  33| 9600| 4.0|yes|yes| no| good| no|yes|           ckd|
|  9|53.0| 90.0| 1.02| 2.0| 0.0|abnormal|abnormal|   present|notpresent| 70.0|107.0| 7.2|114.0| 3.7| 9.5|  29|12100| 3.7|yes|yes| no| poor| no|yes|           ckd|
| 10|50.0| 60.0| 1.01| 2.0| 4.0|    null|abnormal|   present|notpresent|490.0| 55.0| 4.0| null|null| 9.4|  28| null|null|yes|yes| no| good| no|yes|           ckd|
| 11|63.0| 70.0| 1.01| 3.0| 0.0|abnormal|abnormal|   present|notpresent|380.0| 60.0| 2.7|131.0| 4.2|10.8|  32| 4500| 3.8|yes|yes| no| poor|yes| no|           ckd|
| 12|68.0| 70.0|1.015| 3.0| 1.0|    null|  normal|   present|notpresent|208.0| 72.0| 2.1|138.0| 5.8| 9.7|  28|12200| 3.4|yes|yes|yes| poor|yes| no|           ckd|
| 13|68.0| 70.0| null|null|null|    null|    null|notpresent|notpresent| 98.0| 86.0| 4.6|135.0| 3.4| 9.8|null| null|null|yes|yes|yes| poor|yes| no|           ckd|
| 14|68.0| 80.0| 1.01| 3.0| 2.0|  normal|abnormal|   present|   present|157.0| 90.0| 4.1|130.0| 6.4| 5.6|  16|11000| 2.6|yes|yes|yes| poor|yes| no|           ckd|
| 15|40.0| 80.0|1.015| 3.0| 0.0|    null|  normal|notpresent|notpresent| 76.0|162.0| 9.6|141.0| 4.9| 7.6|  24| 3800| 2.8|yes| no| no| good| no|yes|           ckd|
| 16|47.0| 70.0|1.015| 2.0| 0.0|    null|  normal|notpresent|notpresent| 99.0| 46.0| 2.2|138.0| 4.1|12.6|null| null|null| no| no| no| good| no| no|           ckd|
| 17|47.0| 80.0| null|null|null|    null|    null|notpresent|notpresent|114.0| 87.0| 5.2|139.0| 3.7|12.1|null| null|null|yes| no| no| poor| no| no|           ckd|
| 18|60.0|100.0|1.025| 0.0| 3.0|    null|  normal|notpresent|notpresent|263.0| 27.0| 1.3|135.0| 4.3|12.7|  37|11400| 4.3|yes|yes|yes| good| no| no|           ckd|
| 19|62.0| 60.0|1.015| 1.0| 0.0|    null|abnormal|   present|notpresent|100.0| 31.0| 1.6| null|null|10.3|  30| 5300| 3.7|yes| no|yes| good| no| no|           ckd|
+---+----+-----+-----+----+----+--------+--------+----------+----------+-----+-----+----+-----+----+----+----+-----+----+---+---+---+-----+---+---+--------------+
only showing top 20 rows

In [7]:
# 각 컬럼별로 결측값 개수를 확인함 
# 만약 결측값 코딩이 0으로 되어 있는 경우, filter 조건을 변경하면 된다. 
result = pd.DataFrame({'variable':[], 'missing_count':[]})
for col in data.columns:
    df_new = pd.DataFrame({'variable':[], 'missing_count':[]})
    df_new.at[0, 'variable'] = col
    df_new.at[0, 'missing_count'] = data.filter(data[col].isNull()).count()
    result = pd.concat([result, df_new], axis=0)
    
result.astype({'missing_count': 'int32'}) # missing_count 을 int 형으로 변환함 
result['missing_rate'] = result['missing_count'] / data.count() # 결측률 계산 
result

         variable  missing_count  missing_rate
0              id            0.0        0.0000
0             age            9.0        0.0225
0              bp           12.0        0.0300
0              sg           47.0        0.1175
0              al           46.0        0.1150
0              su           49.0        0.1225
0             rbc          152.0        0.3800
0              pc           65.0        0.1625
0             pcc            4.0        0.0100
0              ba            4.0        0.0100
0             bgr           44.0        0.1100
0              bu           19.0        0.0475
0              sc           17.0        0.0425
0             sod           87.0        0.2175
0             pot           88.0        0.2200
0            hemo           52.0        0.1300
0             pcv           70.0        0.1750
0              wc          105.0        0.2625
0              rc          130.0        0.3250
0             htn            2.0        0.0050
0              dm            2.0        0.0050
0             cad            2.0        0.0050
0           appet            1.0        0.0025
0              pe            1.0        0.0025
0             ane            1.0        0.0025
0  classification            0.0        0.0000