**Index**
+ [x] 1.자동 인코딩
+ [x] 2.지정(강제) 인코딩
+ [ ] 3.지정(강제) 인코딩(Binary Case)
+ [ ] 4.One Hot Encoding
+ [ ] 5.Scikit-Learn활용

In [2]:

import cx_Oracle as oci
import pandas as pd

In [32]:
# data load
# version 2 : test1

# 접속정보
con_text = open("C:/Users/MAEIL/conn_info_MMBSHIP.txt", 'r', encoding='utf8')
con_text = con_text.read()

# DB 접속
conn = oci.connect(con_text)

## query 실행( =자료 추출)
df = pd.read_sql("select * from temp_pkh_selmun2" , con = conn)

In [33]:
del df['CELLNO']

In [34]:
df.tail(1)

,UNFY_MMB_NO,REG_DTM,Q01,Q01_1,Q02,Q03,Q04,Q05,Q06,Q07,...,ORGANIC_AND_PREMIUM,MEAL_REPLACEMENT,HOME_COOK,PROMOTION_SENSITIVE,WELL_AGING,TASTE_SEEKER,SENSITIVE_TO_CAFFINE,SNS_USER,OH_MY_BABY,FIRST_TAKER
78787,5468987,2020-06-06,아니오,사이트 불안정으로,None,구입해 본 적 있다,None,본인 외 가족,예,"두유, 발효유, 치즈, RTD 커피 , 단백질 보충제",...,0,1,1,0,0,1,1,1,1,0

### 1.빠른 인코딩

In [43]:
# 빠른 인코딩
df["Q36_CAT"] = df["Q36"].astype('category').cat.codes

In [44]:
# 변환 전
df["Q36"].value_counts().sort_index()

1인가구             10305
기혼 고등자녀           2485
기혼 무자녀            6210
기혼 성인자녀           3174
기혼 자녀 3세이하        5986
기혼 자녀 4-7세       11527
기혼 자녀 unknown      345
기혼 중등자녀           4260
기혼 초등자녀          15406
미성년응답자             669
부모동거 성인          18421
Name: Q36, dtype: int64

In [45]:
# 변환 전
df["Q36_CAT"].value_counts().sort_index()

0     10305
1      2485
2      6210
3      3174
4      5986
5     11527
6       345
7      4260
8     15406
9       669
10    18421
Name: Q36_CAT, dtype: int64

### 2.지정(강제) 인코딩

### 3.지정(강제) 인코딩(Binary Case)

### 4.One Hot Encoding

In [ ]:
from sklearn.preprocessing import LabelBinarizer

lb_style = LabelBinarizer()
lb_results = lb_style.fit_transform(obj_df["body_style"])
pd.DataFrame(lb_results, columns=lb_style.classes_).head()

### 5.Scikit-Learn활용

In [48]:
from sklearn.preprocessing import LabelEncoder

lb_make = LabelEncoder()
df["Q05_T"] = lb_make.fit_transform(df["Q05"])

In [54]:
# 결과 비교
df[["Q05", "Q05_T"]].tail(5)

           Q05  Q05_T
78783      본인       0
78784  본인 외 가족      1
78785  본인 외 가족      1
78786      본인       0
78787  본인 외 가족      1