+ xlms 자료 구분(text 기준)
+ xlms 자료 읽기(특정범위)
+ xlms data 변환(data fill)
+ xlms data merge
+ bigquery upload

In [1]:
import csv
import xlrd
from pandas import DataFrame
import os
from os import listdir
from datetime import datetime, timedelta

import pandas as pd
import pandas_gbq
from datetime import datetime, timedelta
import time 
import re
from google.cloud import bigquery
from pandas.tseries.offsets import MonthEnd

# 접속 정보 : local
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="./auto_send/boxwood-**************.json"
client = bigquery.Client()

### BigQuery에 테이블 생성

In [2]:
# Set table_id to the ID of the table to create
project_name = 'boxwood-**************'
dataset_name = 'test'
table_name = 'F_Order_Plan_test'

table_id = project_name + '.' + dataset_name + '.' + table_name

schema = [
    bigquery.SchemaField("EIS1",          "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("EIS2",          "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("EIS3",          "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("PrdCode",       "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("PrdName",       "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("Date",          "TIMESTAMP",mode="REQUIRED"),
    bigquery.SchemaField("Chnl1",         "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("Chnl2",         "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("Chnl3",         "STRING",   mode="REQUIRED"),
    
    bigquery.SchemaField("OrderAmt_plan", "FLOAT",    mode="REQUIRED"),
    bigquery.SchemaField("OrderQty_plan", "FLOAT",    mode="REQUIRED"),
    bigquery.SchemaField("OrderVol_plan", "FLOAT",    mode="REQUIRED"),
]

table = bigquery.Table(table_id, schema=schema)
table = client.create_table(table)  # API request
print(
    "Created table {}.{}.{}".format(table.project, table.dataset_id, table.table_id)
)

Created table boxwood-chassis-356100.test.F_Order_Plan_test

In [3]:
# Set table_id to the ID of the table to create
project_name = 'boxwood-**************'
dataset_name = 'SAP_BW'
table_name = 'F_Order_Actual'

table_id = project_name + '.' + dataset_name + '.' + table_name

schema = [
    bigquery.SchemaField("EIS1",          "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("EIS2",          "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("EIS3",          "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("PrdCode",       "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("PrdName",       "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("Date",          "TIMESTAMP",mode="REQUIRED"),
    bigquery.SchemaField("Chnl1",         "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("Chnl2",         "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("Chnl3",         "STRING",   mode="REQUIRED"),
    
    bigquery.SchemaField("OrderAmt",      "FLOAT",    mode="REQUIRED"),
    bigquery.SchemaField("OrderQty",      "FLOAT",    mode="REQUIRED"),
    bigquery.SchemaField("OrderVol",      "FLOAT",    mode="REQUIRED"),
]

table = bigquery.Table(table_id, schema=schema)
table = client.create_table(table)  # API request
print(
    "Created table {}.{}.{}".format(table.project, table.dataset_id, table.table_id)
)

Conflict: 409 POST https://bigquery.googleapis.com/bigquery/v2/projects/boxwood-chassis-356100/datasets/SAP_BW/tables?prettyPrint=false: Already Exists: Table boxwood-chassis-356100:SAP_BW.F_Order_Actual

In [3]:
# Set table_id to the ID of the table to create
project_name = 'boxwood-**************'
dataset_name = 'SAP_BW'
table_name = 'F_Profit_Plan'

table_id = project_name + '.' + dataset_name + '.' + table_name

schema = [
    bigquery.SchemaField("EIS1",          "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("EIS2",          "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("EIS3",          "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("PrdCode",       "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("PrdName",       "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("Date",          "TIMESTAMP",mode="REQUIRED"),
    bigquery.SchemaField("Chnl1",         "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("Chnl2",         "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("Chnl3",         "STRING",   mode="REQUIRED"),
    
    bigquery.SchemaField("SalesQty_Plan",     "FLOAT",    mode="REQUIRED"),
    bigquery.SchemaField("SalesVol_Plan",     "FLOAT",    mode="REQUIRED"),
    
    bigquery.SchemaField("Revenue_gross_Plan","FLOAT",    mode="REQUIRED"),
    bigquery.SchemaField("Revenue_nr_Plan",   "FLOAT",    mode="REQUIRED"),
    bigquery.SchemaField("SalesCost_Plan",    "FLOAT",    mode="REQUIRED"),
    bigquery.SchemaField("Profit_op_Plan",    "FLOAT",    mode="REQUIRED"),
#     bigquery.SchemaField("Revenue_dc_Plan",   "FLOAT",    mode="REQUIRED"),
#     bigquery.SchemaField("Profit_admin_Plan", "FLOAT",    mode="REQUIRED"),
#     bigquery.SchemaField("Profit_direct_Plan","FLOAT",    mode="REQUIRED"),
#     bigquery.SchemaField("TE1_Plan",          "FLOAT",    mode="REQUIRED"),
#     bigquery.SchemaField("TE2_Plan",          "FLOAT",    mode="REQUIRED"),
#     bigquery.SchemaField("TE3_Plan",          "FLOAT",    mode="REQUIRED"),
]

table = bigquery.Table(table_id, schema=schema)
table = client.create_table(table)  # API request
print(
    "Created table {}.{}.{}".format(table.project, table.dataset_id, table.table_id)
)

Created table boxwood-chassis-356100.SAP_BW.F_Profit_Plan

In [4]:
# Set table_id to the ID of the table to create
project_name = 'boxwood-**************'
dataset_name = 'SAP_BW'
table_name = 'F_Profit_Actual'

table_id = project_name + '.' + dataset_name + '.' + table_name

schema = [
    bigquery.SchemaField("EIS1",          "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("EIS2",          "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("EIS3",          "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("PrdCode",       "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("PrdName",       "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("Date",          "TIMESTAMP",mode="REQUIRED"),
    bigquery.SchemaField("Chnl1",         "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("Chnl2",         "STRING",   mode="REQUIRED"),
    bigquery.SchemaField("Chnl3",         "STRING",   mode="REQUIRED"),
    
    bigquery.SchemaField("SalesQty",     "FLOAT",    mode="REQUIRED"),
    bigquery.SchemaField("SalesVol",     "FLOAT",    mode="REQUIRED"),
    
    bigquery.SchemaField("Revenue_gross","FLOAT",    mode="REQUIRED"),
    bigquery.SchemaField("Revenue_nr",   "FLOAT",    mode="REQUIRED"),
    bigquery.SchemaField("SalesCost",    "FLOAT",    mode="REQUIRED"),
    bigquery.SchemaField("Profit_op",    "FLOAT",    mode="REQUIRED"),
#     bigquery.SchemaField("Revenue_dc_Plan",   "FLOAT",    mode="REQUIRED"),
#     bigquery.SchemaField("Profit_admin_Plan", "FLOAT",    mode="REQUIRED"),
#     bigquery.SchemaField("Profit_direct_Plan","FLOAT",    mode="REQUIRED"),
#     bigquery.SchemaField("TE1_Plan",          "FLOAT",    mode="REQUIRED"),
#     bigquery.SchemaField("TE2_Plan",          "FLOAT",    mode="REQUIRED"),
#     bigquery.SchemaField("TE3_Plan",          "FLOAT",    mode="REQUIRED"),
]

table = bigquery.Table(table_id, schema=schema)
table = client.create_table(table)  # API request
print(
    "Created table {}.{}.{}".format(table.project, table.dataset_id, table.table_id)
)

Created table boxwood-chassis-356100.SAP_BW.F_Profit_Actual

### BigQuery에 자료 저장

In [212]:
(df_2110.columns)

Index(['PROD_LV1', 'PROD_LV2', 'PROD_LV3', 'PROD_CODE', 'PROD_NAME',
       'CHANNEL_LV1', 'CHANNEL_LV2', 'CHANNEL_LV3', 'YYYY_MM', 'TEAM_LV2_CODE',
       'TEAM_LV2', 'TEAM_LV3_CODE', 'TEAM_LV3', 'SALES_QTY', 'SALES_VOL',
       'REVENUE_TOTAL', 'TE1_DC', 'REVENUE_DC', 'TE2', 'REVENUE', 'COST_SALES',
       'PROFIT_GROSS', 'TE3', 'PROFIT_ADMIN', 'PROFIT_DIRECT',
       'PROFIT_OP_BEFORE', 'PROFIT_OP', 'DATE'],
      dtype='object', name=0)

In [25]:
def rename_table(dataset):
    dataset['SALES_QTY']        = dataset['SALES_QTY'].astype(float)
    dataset['SALES_VOL']        = dataset['SALES_VOL'].astype(float)
    dataset['REVENUE_TOTAL']    = dataset['REVENUE_TOTAL'].astype(float)
    dataset['TE1_DC']           = dataset['TE1_DC'].astype(float)
    dataset['REVENUE_DC']       = dataset['REVENUE_DC'].astype(float)
    dataset['TE2']              = dataset['TE2'].astype(float)
    dataset['REVENUE']          = dataset['REVENUE'].astype(float)
    dataset['COST_SALES']       = dataset['COST_SALES'].astype(float)
    dataset['PROFIT_GROSS']     = dataset['PROFIT_GROSS'].astype(float)
    dataset['TE3']              = dataset['TE3'].astype(float)
    dataset['PROFIT_ADMIN']     = dataset['PROFIT_ADMIN'].astype(float)
    dataset['PROFIT_DIRECT']    = dataset['PROFIT_DIRECT'].astype(float)
    dataset['PROFIT_OP_BEFORE'] = dataset['PROFIT_OP_BEFORE'].astype(float)
    dataset['PROFIT_OP']        = dataset['PROFIT_OP'].astype(float)
    
    dataset = dataset[['PROD_LV1', 'PROD_LV2', 'PROD_LV3', 'PROD_CODE', 'PROD_NAME',
                       'CHANNEL_LV1', 'CHANNEL_LV2', 'CHANNEL_LV3', 'YYYY_MM', 'TEAM_LV2_CODE',
                       'TEAM_LV2', 'TEAM_LV3_CODE', 'TEAM_LV3', 'SALES_QTY', 'SALES_VOL',
                       'REVENUE_TOTAL', 'TE1_DC', 'REVENUE_DC', 'TE2', 'REVENUE', 'COST_SALES',
                       'PROFIT_GROSS', 'TE3', 'PROFIT_ADMIN', 'PROFIT_DIRECT',
                       'PROFIT_OP_BEFORE', 'PROFIT_OP', 'DATE']]
    return dataset

In [26]:
client = bigquery.Client()
project = 'boxwood-chassis-356100'
dataset_id = 'SAP_BW'
table_id = 'ZPB_CO_Q001_P'
table_name = dataset_id +'.' +table_id

In [27]:
%%time
# pandas_gbq.to_gbq(rename_table(df_2201), table_name, project_id=project, if_exists = 'append' )
# pandas_gbq.to_gbq(rename_table(df_2202), table_name, project_id=project, if_exists = 'append' )
# pandas_gbq.to_gbq(rename_table(df_2203), table_name, project_id=project, if_exists = 'append' )
# pandas_gbq.to_gbq(rename_table(df_2204), table_name, project_id=project, if_exists = 'append' )
# pandas_gbq.to_gbq(rename_table(df_2205), table_name, project_id=project, if_exists = 'append' )
# pandas_gbq.to_gbq(rename_table(df_2206), table_name, project_id=project, if_exists = 'append' )
# pandas_gbq.to_gbq(rename_table(df_2207), table_name, project_id=project, if_exists = 'append' )
# pandas_gbq.to_gbq(rename_table(df_2208), table_name, project_id=project, if_exists = 'append' )
# pandas_gbq.to_gbq(rename_table(df_2209), table_name, project_id=project, if_exists = 'append' )

pandas_gbq.to_gbq(rename_table(df_2210), table_name, project_id=project, if_exists = 'append' )
pandas_gbq.to_gbq(rename_table(df_2211), table_name, project_id=project, if_exists = 'append' )
pandas_gbq.to_gbq(rename_table(df_2212), table_name, project_id=project, if_exists = 'append' )

100%|████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<?, ?it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<?, ?it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 6052.39it/s]

Wall time: 17.2 s

### data check

In [28]:
import pandas_gbq

client = bigquery.Client()
# TODO: Set project_id to your Google Cloud Platform project ID.
project_id = 'boxwood-**************'

sql = """
SELECT YYYY_MM, count(*) as count
FROM `boxwood-**************.SAP_BW.ZPB_CO_Q001_P`
group by YYYY_MM
"""
df1 = pandas_gbq.read_gbq(sql, project_id=project_id)
df1 = df1.sort_values(by=['YYYY_MM']).reset_index(drop=True)
df1

Downloading: 100%|███████████████████████████████████████████████████████████████████| 24/24 [00:00<00:00, 49.16rows/s]

   YYYY_MM  count
0   202101   5022
1   202102   5046
2   202103   5167
3   202104   5339
4   202105   5591
5   202106   5600
6   202107   5641
7   202108   5684
8   202109   5843
9   202110   5893
10  202111   6031
11  202112   6089
12  202201   6052
13  202202   6288
14  202203   6557
15  202204   6591
16  202205   6893
17  202206   6781
18  202207   6723
19  202208   6772
20  202209   6919
21  202210   7132
22  202211   5390
23  202212   5358

In [17]:
# df.sort_values(by=['YYYY_MM']).reset_index(drop=True)