In [3]:
#libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from textblob import TextBlob
# from wordcloud import WordCloud
# from google.colab import files

In [4]:
# load the data
reviews_df = pd.read_csv("https://raw.githubusercontent.com/AlvarezJoe/Datasets/main/reviews.csv")
reviews_llm45_df = pd.read_csv("https://raw.githubusercontent.com/AlvarezJoe/Datasets/main/reviews_llm45.csv")
reviews_llm90_df = pd.read_csv("https://raw.githubusercontent.com/AlvarezJoe/Datasets/main/reviews_llm90.csv")

In [5]:
#display info
reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10766 entries, 0 to 10765
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CompanyName     10766 non-null  object
 1   Review          10764 non-null  object
 2   Date            10766 non-null  object
 3   OwnershipType   10766 non-null  object
 4   ReviewLen       10766 non-null  int64
 5   AvgSentenceLen  10766 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 504.8+ KB

In [8]:
#drop nulls
reviews_df = reviews_df.dropna()

<class 'pandas.core.frame.DataFrame'>
Index: 10764 entries, 0 to 10765
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CompanyName     10764 non-null  object
 1   Review          10764 non-null  object
 2   Date            10764 non-null  object
 3   OwnershipType   10764 non-null  object
 4   ReviewLen       10764 non-null  int64
 5   AvgSentenceLen  10764 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 588.7+ KB

In [9]:
reviews_df.tail(5)

,CompanyName,Review,Date,OwnershipType,ReviewLen,AvgSentenceLen
10761,american_republic,Abusive unexplained rate increases and unexpla...,2006-08-01,Private,512,28.44
10762,american_republic,Despite a deductible of $4000 and a co-insuran...,2006-01-29,Private,667,37.06
10763,american_republic,I have 2 complaints against this company. We s...,2005-08-26,Private,2263,125.72
10764,american_republic,"We had insurance on both our sons, one who liv...",2005-08-02,Private,1036,57.56
10765,american_republic,"First off, the reason I cancelled this company...",2003-01-17,Private,2076,115.33

In [13]:
#create subjective and polarity columns
def getSubjectivity(text):
    return TextBlob(text).sentiment.subjectivity

#get polarity with a function
def getPolarity(text):
    return TextBlob(text).sentiment.polarity

In [21]:
# sample
print('- 객관성(Subjectivity) : {}'.format( getSubjectivity(reviews_df['Review'][0]) ) )
print('- 양극성(Polarity) : {}'.format( getPolarity(reviews_df['Review'][0]) ) )
print('')
print(reviews_df['Review'][0])

- 객관성(Subjectivity) : 0.29234693877551016
- 양극성(Polarity) : 0.14744897959183675

I've been with United American Insurance for lots of years and I just pay my bill every month. Once a year, I get a letter that they're increasing their rates, which I would prefer they didn't, but I can understand that it has to. A lot of my friends have HMOs but I like that with my insurance, I can go to whichever doctor I want. I've not had one doctor say they don't accept this insurance. Whatever Medicare paid, United American Insurance paid the other 20%. I am pleased with the service I'm getting, where everything is covered and the choices are mine. Others have to go for a second opinion but I don't. If I feel I need to see a special doctor, I can make an appointment and go. So, the flexibility is worth the money.

In [14]:
#create subjective and polarity columns
reviews_df['Subjectivity'] = reviews_df['Review'].apply(getSubjectivity)
reviews_df['Polarity'] = reviews_df['Review'].apply(getPolarity)

In [15]:
reviews_df.tail(5)

,CompanyName,Review,Date,OwnershipType,ReviewLen,AvgSentenceLen,WordsPerReview,Subjectivity,Polarity
10761,american_republic,Abusive unexplained rate increases and unexpla...,2006-08-01,Private,512,28.44,86,0.304107,0.101250
10762,american_republic,Despite a deductible of $4000 and a co-insuran...,2006-01-29,Private,667,37.06,113,0.313021,0.023958
10763,american_republic,I have 2 complaints against this company. We s...,2005-08-26,Private,2263,125.72,422,0.388492,0.024206
10764,american_republic,"We had insurance on both our sons, one who liv...",2005-08-02,Private,1036,57.56,188,0.248077,-0.030769
10765,american_republic,"First off, the reason I cancelled this company...",2003-01-17,Private,2076,115.33,395,0.431481,0.022222

In [22]:
def getAnalysis(score):
    if score<-.05:
        return 'Negative'
    elif score>.05:
        return 'Positive'
    else:
        return 'Neutral'

In [23]:
reviews_df['Analysis'] = reviews_df['Polarity'].apply(getAnalysis)